@using ITI_Hackathon.ServiceContracts.DTO
@model MedicineDetailsDto
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Medicine Details";
}

<div class="card shadow p-4">
    <img src="@((string.IsNullOrWhiteSpace(Model.ImageUrl)
                 ? "https://raw.githubusercontent.com/ahmedhasan11/ITI_GraduationProject/master/Mantis-Bootstrap-1.0.0/dist/assets/images/medicine-2.jpg"
                 : Model.ImageUrl))"
         class="card-img-top mb-3" alt="@Model.Name" style="height:250px; object-fit:cover;" />

    <h3>@Model.Name</h3>
    <p><b>Category:</b> @Model.Category</p>
    <p><b>Description:</b> @Model.Description</p>
    <p><b>Price:</b> $@Model.Price</p>
    <p><b>Stock:</b> @Model.Stock</p>

    <a asp-action="GetAllMedicines" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back</a>
</div>
